---
import AboutMe from "../components/AboutMe.astro";
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import LinkButton from "../components/LinkButton.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badgade from "../icons/Badgade.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedingIcon from "../icons/LinkedingIcon.astro";
import LinkIcon from "../icons/LinkIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import ProyectIcon from "../icons/ProyectIcon.astro";
import Layout from "../layouts/Layout.astro";
import Person from "../icons/Person.astro"
---

<Layout>
	<main class="px-4">
		<SectionContainer
			class="w-full lg:w-[740px] mx-auto pt-5 md:pt-15 lg:pt-20"
			id="inicio"
		>
			<img
				class="size-18 p-1 rounded-full ring-2 ring-blue-300 dark:ring-purple-500 object-cover"
				src="https://firebasestorage.googleapis.com/v0/b/dwb-archivos.appspot.com/o/Foto.png?alt=media&token=bc4a05a1-7714-46a1-997b-670f315e0ac4"
				alt="Bordered avatar"
			/>
			<h1
				class="dark:text-white text-gray-800 text-3xl lg:text-5xl md:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hey, soy Miguel <a
					href="https://www.linkedin.com/in/miguel-mora-fullstack-developer/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
					><Badge>Disponible para contratar</Badge></a
				>
			</h1>
			<h2
				class="text-xl lg:text-2xl dark:text-white dark:opacity-80 text-gray-700 text-wrap max-w-[700px]"
			>
				+2 años de experiencia. Desarrollador Full Stack. De Bogota
				Colombia.Especializado en crear nuevas experiencias.
			</h2>
			<section
				class="md:flex gap-4 mt-8 text-center grid grid-cols-2 md:flex-row"
			>
				<LinkButton href="https://github.com/Kilerwin">
					<GithubIcon class="size-4 md:w-6 lg:h-6" />
					Mis codigos
				</LinkButton>
				<LinkButton
					href="https://www.linkedin.com/in/miguel-mora-fullstack-developer/"
				>
					<LinkedingIcon class="size-4 md:w-6 lg:h-6" />
					Conoceme
				</LinkButton>
				<LinkButton href='href="mailto:Miguel64_2017@hotmail.com"'>
					<MailIcon class="size-4 md:w-6 lg:h-6" /> Contactame
				</LinkButton>
				<LinkButton
					href="https://firebasestorage.googleapis.com/v0/b/dwb-archivos.appspot.com/o/CV%20Miguel%20Mora%20desarollador%20fullstack.pdf?alt=media&token=49a90fad-779a-4b08-811b-1385a2992b5b"
				>
					<LinkIcon class="size-4 md:w-6 lg:h-6" /> Mi CV
				</LinkButton>
			</section>
			<h1
				class="mt-10 text-xl sm:text-2xl lg:text-3xl font-semibold text-center text-gray-800 dark:text-zinc-200 px-4 py-3 backdrop-blur-md max-w-3xl mx-auto"
			>
				🚀 ¿Tienes una idea? <span class="text-indigo-600 dark:text-indigo-400"
					>Hagámosla realidad juntos. ✨</span
				>
			</h1>
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="sobremi">
				<h2
					class="text-3xl font-semibold mb-6 flex gap-x-3 items-center dark:text-white text-gray-700"
				>
					<Person class="w-6 h-6" />Sobre Mi
				</h2>
				<AboutMe />
			</SectionContainer>
			<SectionContainer id="experiencia">
				<h2
					class="text-3xl font-semibold mb-6 flex gap-x-3 items-center dark:text-white text-gray-700"
				>
					<Badgade class="w-6 h-6" />Experiencia Laboral
				</h2>
				<Experience />
			</SectionContainer>
			<SectionContainer id="proyectos">
				<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center dark:text-white text-gray-700">
					<ProyectIcon class="w-6 h-6" /> Proyectos
				</h2>
				<Projects />
			</SectionContainer>
		</div>
	</main>
</Layout>
