<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[3px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#0fffc1_0%,#8e00ff_50%,#0fffc1_100%)] bg-[conic-gradient(from_90deg_at_50%_50%,#00eeff97_0%,#ff00ccaf_50%,#00eeff97_100%)]"
    ></span>

      <div class="text-sm inline-flex items-center justify-center w-full px-2 py-2 md:px-5 md:py-3 text-indigo-900 bg-purple-100 rounded-full cursor-pointer dark:bg-indigo-900 dark:text-indigo-300 backdrop-blur-3xl whitespace-nowrap hover:opacity-80">

      <slot />
    </div>
  </span>
</div>
