---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Anvic Store",
    company: "Anvic",
    description:
      "Encargado del desarrollo del frontend y backend del sistema de gestión de productos. Implementé la lógica de visualización, carga y administración de productos.",
  },
  {
    date: "Enero 2025",
    title: "Orbit",
    company: "Cinte Colombia",
    description:
      "Responsable de corregir errores críticos relacionados con la carga lenta de la plataforma. Colaboré en la implementación del módulo de cálculo de aprovisionamiento de clientes.",
  },
  {
    date: "Julio 2024",
    title: "Mi Can Veterinaria",
    company: "Mi Can Veterinaria",
    description:
      "Diseñé e implementé la lógica de control de roles para cada área de la veterinaria. También desarrollé los módulos necesarios para la gestión de servicios ofrecidos.",
  },
  {
    date: "Agosto 2024",
    title: "Cotizador TecnoStar",
    company: "TecnoStar",
    description:
      "Diseñé la lógica de selección dinámica de componentes según las elecciones del cliente y colaboré en la generación automática de cotizaciones en PDF.",
  },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">                  
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">            
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
