---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro'
import ThemeToggle from '../components/ThemeToggle.astro';
import '../styles/global.css'
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="https://firebasestorage.googleapis.com/v0/b/dwb-archivos.appspot.com/o/Sin%20t%C3%ADtulo.png?alt=media&token=1717fdd7-3b58-41e8-8632-51adc0ea2fd1" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Desarrollador Full Stack con experiencia en creación de aplicaciones web modernas. Apasionado por el diseño limpio, el código eficiente y las soluciones funcionales. Descubre mis proyectos y habilidades.">
		<title>Portafolio Miguel Desarrollador y Programador Web con 6+ de experiencia</title>
	</head>
	<body>
		<div class="relative w-full dark:bg-slate-950 bg-neutral-50">
			<div class="pointer-events-none fixed -left-70 -top-20 z-0 h-[500px] w-[500px] rounded-full dark:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),transparent)]  bg-[radial-gradient(circle_farthest-side,rgba(0,182,255,.25),transparent)]"></div>
			<div class="pointer-events-none fixed -right-70 -top-0 z-0- h-[500px] w-[500px] rounded-full dark:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),transparent)] bg-[radial-gradient(circle_farthest-side,rgba(0,182,255,.25),transparent)]"></div>
			<div class="relative z-10">
				<Header/>
				<slot />
				<ThemeToggle />
				<Footer />
			</div>
		</div>
	</body>
</html>

<style is:global>
	:root{
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable",system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		background: #020617;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
